.main{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.product{
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid;
  border-width: 0.8px;
  border-color: rgb(216, 216, 216);
  border-left: 0;
  flex-wrap: wrap;
}
.product-img{
  margin-top: 50px;
  width: 160px;
  height: 160px;
  margin: 100px 0 0 25px;
}
.product-name{
  font-size: 18px;
  max-width: 250px;
  margin: 25px 25px 10px 12px;
}
.rating{
  display: flex;
  flex-direction: row;
}
.rate-img{
  height: 20px;
  margin-left: 12px;
}
.rating-count{
  color: rgb(28, 149, 197);
  font-size: 18px;
  margin-left:10px;
  margin-top: 2px;
}
.price{
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0 10px 12px;
}
.select{
  background-color: rgb(240, 240, 240);
  border-color:rgb(213, 217, 217) ;
  box-shadow:rgba(213, 217, 217, 0.5) 2px o 3px ;
  font-size: 15px;
  padding: 3px 5px;
  border-radius: 5px;
  margin-left: 12px;
}
.add-to-cart{
  margin:45px 25px 30px 10px ;
  padding: 10px;
  border: none;
  background-color: rgb(255, 217, 3);
  border-radius:25px ;
}
@media(max-width:550px){
  .main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    transition: 0.4s;
  }
}
@media(max-width:850px){
  .main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    transition: 0.4s;
  }
}
@media(max-width:1050px){
  .main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    transition: 0.4s;
  }
}
@media(max-width:100%){
  .main{
    display: grid;
    grid-column: auto;
  }
}